@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$font-helvetica : Arial, Helvetica, sans-serif ;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn-success {
    background-color: #5CB85F;
    border-radius: 5px;
    border: none;
}

.btn-success:hover {
    background-color: #4f9a51;
    border: none;
}


body {
    background-color: #fff;
    font-family: $font-helvetica;
}

.hero-section,
.navbar {
    background-color: #F1F3FF;
}

.hero-section__image {
    max-width: 700px;
    width: 100%;
}

.image-mask {
    z-index: -1;
    position: relative;
    width: 350px;
    height: 350px;
}

.image-mask::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 350px;
    background: transparent;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 100px 0 40px #fff;


}

.image-mask__circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #0D28A6;
    overflow: hidden;
}

.image-mask__image {
    width: 350px;
    height: 500px;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
}

.why-section__icon {
    width: 32px;
    height: 32px;
}

.cta-card__bg {
    background-color: #0D28A6;
}

.footer__icon {
    width: 32px;
    height: 32px;
}
