:root {
  --font-helvetica : Helvetica;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn-success {
  background-color: #5CB85F;
  border-radius: 5px;
  border: none;
}

.btn-success:hover {
  background-color: #4f9a51;
  border: none;
}

body {
  background-color: #fff;
  font-family: var(--font-helvetica);
}

.hero-section,
.navbar {
  background-color: #F1F3FF;
}

.hero-section__image {
  max-width: 700px;
  width: 100%;
}

.why-us__image {
  width: 459px;
  height: 428px;
}

.service-section__list {
  background: url('../img/icon/icon_checklist.svg') no-repeat;
  list-style: none;
}

.why-section__icon {
  width: 32px;
  height: 32px;
}

.cta-card__bg {
  background-color: #0D28A6;
}

.footer__icon {
  width: 32px;
  height: 32px;
}

.testimonial-carousel__body {
  height: 300px;
  width: 100%;
  background-color: #F1F3FF;
  border-radius: 10px;
}

.testimonial-carousel__circle {
  border-radius: 50%;
  object-fit: cover;

}

.testimonial-carousel__text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bg-blue {
  background-color: #0D28A6;
}

.cta-text {
  width: 50%;
  font-size: 14px;
  line-height: 20px;
}

.offcanvas-toogle {
  display: none;
}

@media screen and (max-width : 991px) {
  .offcanvas-toogle {
    display: block;
  }
}

@media screen and (max-width : 790px) {
  .testimonial-carousel__body {
    height: 400px;
  }

  .testimonial-carousel__text {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 60px;
    align-items: start;
  }

}

@media screen and (max-width : 550px) {
  .why-us__image {
    width: 252px;
    height: 228px;
  }

  .cta-text {
    width: 100%;
  }
}